[Desktop Entry]
Encoding=UTF-8
Name=Link to Resultado de imagen para sngr
Type=Link
URL=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwj1g9HuvsvXAhVGKCYKHaXRDk8QjRwIBw&url=http%3A%2F%2Figrem12.blogspot.com%2F&psig=AOvVaw3UAQSl4MrkpGqcBb8QRPvI&ust=1511210177130993
Icon=text-html
